---
layout: default
permalink: /
imagesrc: src/img/at-the-point-longport-nj.jpg
imagealt: "At the point in Longport, New Jersey"
---

<div class="container">
  <h1>Image size test with eleventy-img plugin</h1>

  {% image imagesrc, imagealt, "(min-width: 250px) 600px, 100vw" %}
</div> <!-- .container -->
